<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit <%=dog.name%></title>
</head>
<body>
    <a href="/">home</a>
    <a href="/dogs">Browse more dogs</a>

    <h1>Edit <%=dog.name%>'s information.</h1>
        <form action="/dogs/<%=dog._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= dog.name %>"/>
        <br>
        <label for="breed">breed:</label>
        <input type="text" name="breed" id="breed" value="<%= dog.breed %>"/>
        <br>
        <label for="age">Age:</label>
        <input type="text" name="age" id="age" value="<%= dog.age %>" />
        <br>
        <label for="image">Link a Photo:</label>
        <input type="text" name="image" id="image" value="<%= dog.image %>"/>
        <br>
        <label for="description">Description:</label>
        <textarea type="text" name="description" id="description" <%= dog.description %>></textarea>
        <br>
        <button type="submit">Update <%=dog.name%>'s information.</button>
    </form>


</body>
</html>